@implements IEmailViewModel

<p>Dear @RecipientName</p>

<p>A byte can represent any value from @byte.MinValue to @byte.MaxValue.</p>

<p>Kind regards, @SenderName</p>

<EmailFooter Date="DateTime.Now" />

@code
{
    [Parameter, EditorRequired]
    public required string RecipientName { get; init; }

    [Parameter, EditorRequired]
    public required string SenderName { get; init; }
}
